{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block title %}BCCA Leadership Project Team Viewer{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{% url 'team_list' %}">
            Start Page
        </a>        
    </nav>
    <div id="header">
        <h1>BCCA Leadership Project Team Viewer</h1>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <h2>Team List</h2>
    <ul class="Text">
        {% for team_name, team in teams.items %}
            <li><a href="{% url 'team_detail' team_name %}">{{ team.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
